<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Management App</title>
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/signup.css">
</head>
<body>
    <div id="container">
        <form action="">
            <div>
                <input type="text" placeholder="카테고리명을 입력하세요.">
            </div>
            <div>
                <a href="#">등록</a>
                <a href="/">취소</a>
            </div>
            
        </form>
    </div>
</body>
</html>