<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Management App</title>
    <link rel="stylesheet" href="/static/css/default.css">
    <link rel="stylesheet" href="/static/css/order.css">
</head>
<body>
    <div id="container">
        <table>
            <th>No</th>
            <th>Order</th>
            <th>Consumer</th>
            <th>Price</th>
            <th></th>

            <tr>
                <td>1</td>
                <td>김치볶음밥(2), 콜라(2)</td>
                <td>Jinsu</td>
                <td>16,000</td>
                <td><button>완료</button></td>
            </tr>
        </table>

        <div>
            <a href="#">돌아가기</a>
        </div>
    </div>
</body>
</html>