<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Management App</title>
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/order.css">
</head>
<body>
    <div id="container">
        <table>
            <th>No</th>
            <th>Order</th>
            <th>Consumer</th>
            <th>Price</th>
            <th>orderedAt</th>
            <th>Status</th>
            <th></th>

            {{#orders}}
            <tr>
                <td>{{id}}</td>
                <td>
                    {{#foodCountList}}
                        {{foodName}}({{count}}),
                    {{/foodCountList}}
                </td>
                <td>{{clientName}}</td>
                <td>{{totalPrice}}</td>
                <td>{{orderedAt}}</td>
                <td>{{status}}</td>
                <td><button onclick="successOrder({{id}})">완료</button></td>
            </tr>
            {{/orders}}
        </table>

        <div>
            <a href="/">돌아가기</a>
        </div>
    </div>

    <script src="/js/api.js"></script>
    <script src="/js/list.js"></script>
</body>
</html>