<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Management App</title>
    <link rel="stylesheet" href="/static/css/default.css">
    <link rel="stylesheet" href="/static/css/order.css">
</head>
<body>
    <div id="container">
        <div class="login">
            <input type="text" placeholder="이름을 입력하세요.">
            <input type="password" placeholder="비밀번호를 입력하세요.">
        </div>

        <table>
            <th></th>
            <th>No</th>
            <th>Food</th>
            <th>Category</th>
            <th>Type</th>
            <th>Price</th>

            <tr>
                <td><input type="checkbox"></td>
                <td>1</td>
                <td>김치볶음밥</td>
                <td>한식</td>
                <td>식사</td>
                <td>6,000</td>
            </tr>

            <tr>
                <td><input type="checkbox"></td>
                <td>1</td>
                <td>콜라</td>
                <td>기타</td>
                <td>음료</td>
                <td>2,000</td>
            </tr>
        </table>

        <div>
            <a href="#">주문</a>
            <a href="#">취소</a>
        </div>
    </div>
</body>
</html>