<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Management App</title>
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/order.css">
</head>
<body>
    <div id="container">
        <div class="login">
            <input id="client-name" type="text" placeholder="이름을 입력하세요.">
            <input id="client-password" type="password" placeholder="비밀번호를 입력하세요.">
        </div>

        <table>
            <th></th>
            <th>No</th>
            <th>Food</th>
            <th>Category</th>
            <th>Size</th>
            <th>Price</th>

            {{#foods}}
            <tr class="food-info">
                <td><input type="checkbox" class="food-checkbox"></td>
                <td class="food-id">{{id}}</td>
                <td class="food-name">{{name}}</td>
                <td>
                    {{#categories}}
                        {{name}}
                    {{/categories}}
                </td>
                <td>{{size}}</td>
                <td>{{price}}</td>
            </tr>
            {{/foods}}
        </table>

        <div>
            <a href="#" class="add-order-btn">주문</a>
            <a href="/">취소</a>
        </div>
    </div>

    <script src="/js/api.js"></script>
    <script src="/js/order.js"></script>
</body>
</html>